html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
address,
pre {
  margin-bottom: 1em;
  margin-top: 1em;
}

legend {
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
}

table {
  border-collapse: collapse;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}
